.navbar {
    background-color: cadetblue;
    align-self: stretch;
}

.nb-link {
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    float: left;
}

.nb-link:hover {
    background-color: teal;
}

.nb-btn-div {
    float: right;
    margin: 9px;
    background: white;
}